footer {
    background-color: white;
    text-align: center;
    p {
        color: black;
        font-size: 22px;
        margin: 0;
        padding: 10px 0;
    }
    p:hover {
        color: rgb(231, 231, 231);
    }
    
}