.mobile-nav {
    display: none;
}

.hamburger {
    display: none;
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: black;
    opacity: 75%;
    transition: .5s;
    ul li a {
        color: white;
        text-align: right;
        text-transform: uppercase;
        list-style-type: none;
        list-style: none;
        font-size: 1.5rem;
        border-bottom: 2px solid #252525;
    }
    .ham {
        display: block;
        top: 4%;
        left: 110%;
        position: fixed;
        width: 31px;
        height: 86px;
        transform: translateX(-650%);
        border: 0;
        background: 0 0; 
        .bar {
            position: fixed;
            background: white;
            height: 4px;
            width: 100%;
            transition: all .3s ease-in;
            
        }
        #bar1 {
            top: 3px;
            border: 1px solid black;
        }

        #bar2 {
            top: 11px;
            border: 1px solid black;
        }
        #bar3 {
            top: 19px;
            border: 1px solid black;
        }


    }
    .hamburger-nav {
        position: absolute;
        top: 100px;
        right: 50px;
        width: 250px;
    }
}

.hamburger.active {
    right: 0;
    z-index: 1;
}
.ham.open #bar1{
   background-color: white;
   transform: rotate(45deg) translate(6px, 5px);
   border: none;
}
.ham.open #bar2{
    background-color: transparent;
    border: none;
}
.ham.open #bar3{
    background-color: white;
    transform: rotate(-45deg) translate(6px, -5px);
    border: none;
}

.navigation {
    background-color: #3c9ae7;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 23px;
        position: sticky;
        top: 0;
        
        
        li {
            display: flex;
            margin: 0 40px;
            padding: 10px 0;
            a {
                color: white;
                background-image: linear-gradient(#1095c1,#1095c1);
                background-size: 0 100%;
                background-repeat: no-repeat;
                transition: .4s;
            }
            a:hover {
                color: rgb(231, 231, 231);
                background-size: 100% 100%;
            }
        }
    }
}

.landing {
    background: linear-gradient(-45deg, #4eefd7, #3c9ae7, #2370d5, #23E5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;

    h1 {
        text-align: center;
        color: white;
        font-size: 35px;
        margin: 10px;
    }

    .class {
        font-size: 40%;
    }
    img {
        border-radius: 50%;
        width: 10%;
        display: flex;
        .profile-image {
            align-self: center;
        }
    }
    p {
        text-align: center;
        color: #ffffff;
        padding: 30px;
        margin: 0;
        font-size: 25px;
        transition: transform 1s;
        
    }

    .daynight {
        display: flex;

            button {
                display: flex;
                align-self: center;
                border-radius: 80%;
                border: none;
                background-color: transparent;
                padding: 1px;
        }
    }
    
    

}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}