.skills {
    background: linear-gradient(-45deg, #4eefd7, #3c9ae7, #2370d5, #23E5AB);
        background-size: 400% 400%;
        position: relative;
        animation: change 10s ease-in-out infinite;;
        padding: 50px 30px;
    
    h2 {
        color: white;
        text-align: center;
        font-size: 40px;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
        color: transparent;
    }

    p {
        font-size: 24px;
        text-align: center;
        color: white;
        padding: 0 20px;
    }
    ul {
        display: flex;        
        justify-content: center;
        align-items: center;
        li {
            display: flex;
            justify-content: center;
            width: 10%;
            margin: 0 30px;    
        }
        
    }
}
